.container-custom{
    width: 80%;
    margin: 0 auto;
    @extend .ptb-15;
    .topmenu{
        @include spacebetween-flex;
        width: 100%;
        &-right{
            @include right-flex;
            width: 60%;
            gap:20px;
        }
        &-left{
            @include left-flex;
            width:40%;
            gap:20px;
            li{
                @include flex-container;
                color: $orange-color;
                a{
                    font-size: 15px;
                    color: $primary-color;
                    @extend .pl-5;
                }
                
            }
        }
        a{
            color: $orange-color;
            font-size: 20px;
            &:hover{
                color: $orange-color-hover
            }
        }
    }
}